/* html {
    scroll-behavior: smooth;
} */

.sticky {
    position: sticky;
    top: 5rem;
    /* width: 100%; */
}

/* black and white service images */
/* Safari 6.0 - 9.0 */
/* .black-white-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
} */