.sticky {
    position: sticky;
    top: 5rem;
    /* width: 100%; */
}


/* media query to remove topbar if on mobile device */
@media screen and (max-width: 600px) {
    .topbar{
        visibility: hidden;
    }
}